<%- include('header') %>

<body>
<% data.forEach((data) => { %>
<form action="/edit/<%= data.id%>" method="POST">
	<!-- Date of Admission -->
	<div class="form-group">
		<label for="dateOfAdmission">date</label>
		<input type="date" class="form-control" id="date" name="date" value="<%= data.date %>" required>
	</div>

	<!-- Name -->
	<div class="form-group">
		<label for="name">name</label>
		<input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" required>
	</div>

	<!-- Age -->
	<div class="form-group">
		<label for="age">age</label>
		<input type="number" class="form-control" id="age" name="age" value="<%= data.age %>" required>
	</div>

	<!-- Gender -->
	<div class="form-group">
		<label for="gender">gender</label>
		<select class="form-control" id="gender" name="gender" value="<%= data.gender %>" required>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="other">Other</option>
		</select>
	</div>

	<!-- Contact Information -->
	<div class="form-group">
		<label for="contact">contact</label>
		<input type="text" class="form-control" id="contact" name="contact" value="<%= data.contact %>" required>
	</div>

	<!-- Disease Information -->
	<div class="form-group">
		<label for="disease">disease</label>
		<input type="text" class="form-control" id="disease" name="disease" value="<%= data.disease %>" required></input>
	</div>

	<!-- Doctor Information -->
	<div class="form-group">
		<label for="doctor">doctor</label>
		<input type="text" class="form-control" id="doctor" name="doctor" value="<%= data.doctor %>" required>
	</div>
	<div class="modal-footer">
		<a href="/close">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</a>
			<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
<% }); %>


<%- include('footer') %>
