<%- include('header') %>

            <main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <div class="col-xl-4">
                            <div class="stats stats-primary">
                                <h3 class="stats-title"> Total Patients</h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fa-solid fa-hospital-user" style="color: #ffffff;"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number"> <%= totalPatient %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-success ">
                                <h3 class="stats-title"> Total Doctors </h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fa-solid fa-stethoscope" style="color: #ffffff;"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number"><%= totalDoctors %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-danger">
                                <h3 class="stats-title">Total Appointments</h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fa-solid fa-calendar-check" style="color: #e5e7eb;"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number"><%= totalAppointment %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
<%- include('footer') %>
