<%- include('header') %>

            <div class="container">
                <div style="text-align: center;">
                    <h2 class="mt-4">Patient Information Form</h2>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#patientInfoModal">
                        <i class="fa-solid fa-plus" style="color: #f1f4f9;"></i> Add Patient
                    </button>
                </div>
                <br>
                <h3 style="text-align: center;">Total Patients: <%= totalPatient %> </h3>
                <!--models-->
                <div class="modal fade" id="patientInfoModal" tabindex="-1" aria-labelledby="patientInfoModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="patientInfoModalLabel">Add Patient</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/patient" method="POST">
                                    <!-- Date of Admission -->
                                    <div class="form-group">
                                        <label for="dateOfAdmission">date</label>
                                        <input type="date" class="form-control" id="date" name="date" required>
                                    </div>

                                    <!-- Name -->
                                    <div class="form-group">
                                        <label for="name">name</label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>

                                    <!-- Age -->
                                    <div class="form-group">
                                        <label for="age">age</label>
                                        <input type="number" class="form-control" id="age" name="age" required>
                                    </div>

                                    <!-- Gender -->
                                    <div class="form-group">
                                        <label for="gender">gender</label>
                                        <select class="form-control" id="gender" name="gender" required>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>

                                    <!-- Contact Information -->
                                    <div class="form-group">
                                        <label for="contact">contact</label>
                                        <input type="text" class="form-control" id="contact" name="contact" required>
                                    </div>

                                    <!-- Disease Information -->
                                    <div class="form-group">
                                        <label for="disease">disease</label>
                                        <textarea class="form-control" id="disease" name="disease" required></textarea>
                                    </div>

                                    <!-- Doctor Information -->
                                    <div class="form-group">
                                        <label for="doctor">doctor</label>
                                        <input type="text" class="form-control" id="doctor" name="doctor" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="card-body ">
				<table class="table table-hover table-in-card">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Date of Admission</th>
							<th scope="col">Name</th>
							<th scope="col">Age</th>
							<th scope="col">Gender</th>
							<th scope="col">Contact</th>
							<th scope="col">Disease</th>
							<th scope="col">Doctor</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
                    <tbody>
                        <% data.forEach((patient) => { %>
                          <tr>
                            <th scope="row"><%= patient.id %></th>
                            <td><%= patient.date %></td>
                            <td><%= patient.name %></td>
                            <td><%= patient.age %></td>
                            <td><%= patient.gender %></td>
                            <td><%= patient.contact %></td>
                            <td><%= patient.disease %></td>
                            <td><%= patient.doctor %></td>
                            <td>
                              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <form action="/edit/<%= patient.id%>">
                                        <button class="btn btn-primary" type="submit">Edit</button>
                                    </form>
                                    <form action="/delete/<%= patient.id %>" method="get">
                                        <button class="btn btn-danger" type="submit">delete</button>
                                    </form>
                              </div>
                            </td>
                          </tr>
                        <% }); %>
                      </tbody>
				</table>
			</div>
		</div>
	</div>
            </div>
        </div>
    </div>

<%- include('footer') %>
